<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Permet l'accès au local host (network security config)-->
    <application
        android:networkSecurityConfig="@xml/configuration_securite_reseau"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_nom"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CliAndCollect"
        tools:targetApi="31">
        <activity
            android:name=".ActivitePrincipale"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.ActiviteConnexion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.ActiviteInscription"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.ActiviteDetailClient"
            android:screenOrientation="portrait" />
        <activity 
            android:name=".activites.ActiviteCreationClient"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.GestionFragment"
            android:screenOrientation="portrait" />
        <!-- L'orientation sur l'activité GestionFragment est héritée dans les fragments -->
    </application>

</manifest>